@use "../mixins" as *;

// Блок: basket
.basket {
    display: inline-block;
    position: relative;

    &__count {
        position: absolute;
        right: -8px;
        top: -4px;
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 1.3;
        width: 18px;
        height: 18px;
        text-align: center;
        color: #fff;
        background: #FC5468;
        border-radius: 50%;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }
}
