@use '../mixins' as *;

// Блок: info
.info {
    background: #1C1C33 url(../../src/img/teaching.png) no-repeat;
    background-position: 66px 50%;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__content-block {
        max-width: 548px;
    }
}
