@use "../mixins" as *;

$color-light: #f6f6f8;
$color-dark: #1c1c33;

// Блок: title
.title {
    $block: &;

    font-family: var(--font-family);
    color: $color-dark;

    &--h1 {
        font-weight: 700;
        font-size: 55px;
        line-height: 1.1;
    }

    &--h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 1.2;
    }

    &--h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
    }

    &--h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
    }

    &--center {
        text-align: center;
    }

    &--light {
        color: $color-light;
    }

    &--bold {
        font-weight: 700;
    }

    &--line {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 150px;
            height: 2px;
            background: #57d9a6;
        }

        &#{$block}--center {
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &#{$block}--line-min {
            &::after {
                bottom: -7px;
            }
        }
    }
}
